*{

    box-sizing: border-box;
    margin: 0;
    padding: 0;
   
    
}


.flex-container{
    display: flex;
    justify-content: space-between;
    background-color: blueviolet;
    padding: 10px;
    align-items: center;
    align-content: center;
}

.header-image{

    width: 10%;
    height: auto;
    border-radius: 50%;

}

.idk{


flex-direction: row;
width: 100%

}
.header-text{

    margin:0;

}


h1{

font-size: 1em;

}
h3{

    font-size: 0.8em;
    margin-bottom: 15px;
  
    
    }
.icon{

    width:25px;
    height: 25px;

}

.bell{
    
    /* margin-top: 5px; */
    margin-right: 5px;
    border-right:   1px solid cornsilk;


}

/* Dropdown Button */
/* .noti_icon {
    color: white;
    border: none;
    cursor: pointer;

    width:25px;
    height: 25px;
  } */
  
  /* Dropdown button on hover & focus */
  
  
  /* The container <div> - needed to position the dropdown content */
  .bell {
    position: relative;
    display: inline-block;
  }
  
  /* Dropdown Content (Hidden by Default) */
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  /* Links inside the dropdown */
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  /* Change color of dropdown links on hover */
  .dropdown-content a:hover {background-color: #ddd}
  
  /* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
  .show {display:block;}



ul{

    list-style-type: none;
  
}

.nav-button{
display: flex;
justify-content: center;
align-items: center;
width: 70px;
height: 35px;
border-radius: 40px;
color: white;
background: yellowgreen;

}

/* .nav-button:active {

color: white;
background: yellowgreen;

} */

.main-header{

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

}

h2{


    font-size: 0.9em ;
    padding-left: 10px;
    padding-top: 10px;
}

.tab-text{

background: white;
width: 20%;
margin-right: 30px;

}
.tab-box{

    display:flex;
    width: 100%;
    text-align: center;

}

.tab-background{

    background: lightgrey;
    width: 80%;
    height: 35px ;

}

.profile-image{

width: 25%;
height: auto;
border-radius: 50%;
  /* border: 3px solid white; */


}

nav{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background-color: rgb(50, 8, 90);
    padding-left: 50px;
    padding-right:50px;
    padding-top: 10px;
    padding-bottom: 10px;

}

.grid-container{


    display:grid;
    grid-template-columns: 100%;
grid-template-rows: auto;
grid-template-areas:
"header"
"navigation"
"main";


}

.header{

    grid-area: header;

}

.navigation {
    grid-area: navigation;
    }
    .main {

        display: grid;
    grid-area: main;

        
    }

    .widget-container-full, .widget-container-half {
        width: 95vw;
        padding: 5px;
        margin-bottom: 35px;
        border-bottom: 1px solid grey ;
        }

    #traffic-nav{

        display: flex;
       justify-content: space-evenly;
       margin: 10px;
        
    }

    .social-image{

        max-width: 30%;
        height: auto;
        margin-right: 15px;

    }

    .social-container svg{

        width: 100%;
        


}

     .social-container{

            display: flex;
            border-bottom: 1px solid grey;
            padding: 20px;
            align-items: center;

    }

    .social-title{

        color: blue;
        font-size: 17px;
        
    }

    .social-stat{

            font-size: 40px;

    }

   

    .members{
        
        padding-left: 20px;
        padding-right: 20px;
        margin-top: 40px;


    }

    .members-container{

        text-align: center;
        margin-top: 12px;
        margin-bottom: 12px;
        border-bottom: 1px solid grey;
        padding: 16px;

    }

    .alert-banner{
            display: flex;
            color: white;
            background-color: purple;
            max-width: 90%;
            justify-content: space-between;
            margin: 0 auto;
            margin-top: 40px;
            margin-bottom: 40px;
            padding: 12px;



    }

    .toggle-container{
        display: flex;
        justify-content:space-between;
        align-items: center;
        margin-bottom: 40px;
        padding: 12px;
    
    }

    label{

       width: 30%;

    }

    .settings{

            margin-top: 40px;
            margin-bottom: 40px;
            padding: 5px;
            /* max-width: calc(); */
        padding-left: auto;

    }

    .last{

        border-bottom: none;

    }

    .message{
       
        
        display: flex;
        flex-direction: column;
        padding: 5px;
        padding-top: 40px;
        padding-bottom: 40px;
        border-bottom: 1px solid grey;
        border-top: 1px solid grey;
       
    

    }

    .widget-container{


        text-align: center;


    }

    .form-field, .form-area, .button-primary{

        width: 90%;
        margin: 0 auto;
        margin-top: 10px;
        
        
    }

    .form-field{

        height: 35px ;

    }

    .form-area{

        height: 100px ;

    }

    .button-primary, .button-primary-save, .button-disabled{

        height: 35px ;

    }

    .settings-button{

            display: flex;
            justify-content: space-evenly;

    }

    .button-primary-save, .button-disabled{

        /* width: calc(45% - ); */
        width: 42.5%;

    }

    #timezone{
        margin-bottom: 12px;


        display: flex;

    }


                                     /*!!!!!!!!!!!!!!!!!!!!!!!!!!! MEDIA QUERY!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!! */


    @media (min-width: 768px) {



    .grid-container {


    grid-template-columns: 120px 1fr;
    grid-template-areas:
    "header header"
    "navigation main";
    }

    .navigation{

        display: flex;
        flex-direction: column;
       /* justify-content: flex-start;
       margin: 0 auto; */

    }

    .navi{

       padding-bottom: 80px;

    }

    .main {
            
        grid-template-columns: 50% ;
    }


    .traffic,  .main-header, .alert, .message, .members, .social, .small-graphs-tablet, .settings{
        grid-column: 1 / span 2;
        }

        .bar{
            grid-column: 1 / span 1;
            }
            
            .doughnut, .mobile, .activity {
                grid-column: 2 / span 1;
                }

                .widget-container-full {
                    width: 80vw;
                    }
                    .widget-container-half {
                    width: 40vw;
                    }

                   
        .traffic{

            margin: 0 auto;

            
        }
        .traffic-header{

            display: flex;
            justify-content: space-between;

        }

        #traffic-nav{

            display: flex;
            justify-content: space-around;

        }



        .social{

            display: flex;
            padding-top: 20px;
            padding-bottom: 20px;
            border-bottom: 1px solid grey;
        }

        .social-container{

            border-bottom: none;

        }

        .members{
          
 /* put a bottom border on this */
        }
        .members-container{

            display: flex;
            align-items: center; 
            text-align: left;
            
        }

        .members-text{
            display: flex;
            justify-content: space-between;
            width: 100%;
        }

        .profile-image{


                margin-right: 14px;

        }
        

        .small-graphs-tablet{

            border-top:1px solid grey ;
            border-bottom: 1px solid grey;
            width: 100%;
            display: flex;
            justify-content: space-evenly;
        
            

        }

        .widget-container-half, .widget-container-full{


            border-bottom: none;
        }
        
        .bar{

            border-right: 1px solid grey;
            padding: 20px;
        }

        .doughnut{

            padding: 20px;
        }

        .settings{

            display: flex;
            flex-direction: column;
            
            


        }
        
        .toggle-container{

            align-self: flex-start;
            width: 50%;
        
        }

        .profile-image{

            width: 10%

        }

    }



                                     /*!!!!!!!!!!!!!!!!!!!!!!!!!!! MEDIA QUERY!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!! */

    @media (min-width: 1024px) {


        .members, .message{
            grid-column: 1 / span 1;
            }

        

            .settings{
                grid-column: 2 / span 1;
                }


        .message, .settings{

                justify-content: space-between;

        }







    }
        