*{

    box-sizing: border-box;
    margin: 0;
    padding: 0;
   
    
}


.flex-container{
    display: flex;
    justify-content: flex-start;
    background-color: blueviolet;
    padding: 10px;
    align-items: center;
    align-content: center;
}

.header-image{

    width: 15%;
    height: auto;
    border-radius: 50%;
    margin-right: 10px;
    margin-left: 10px;

}

.header-flex{


    display: flex;
    justify-content: flex-end;
    align-items: center;

}

.idk{


flex-direction: row;
width: 100%

}

.arrow{

    display: none;

}


.header-text{

    margin:0;

}


h1{

font-size: 1.5em;

}

h3{

    font-size: 0.8em;
    margin-top: 10px;
    margin-left: 10px;
    
    }

.icon{

    width: 20px;
    height: 20px;

}

.navi{


}


.green-dot{

    width: 5px;
    height: 5px;
    border-radius: 50%;
    position: absolute;
    top: 0px;
    left: 20px;
    background-color: chartreuse;
    
}

.bell{
    
    /* margin-top: 5px; */
    margin-right: 10px;
    align-self: flex-start;
   
}

.bell-icon-container{
    
    /* height: 30px; */
    width: 30px;
    border-right: 1px solid lightgrey;
    margin-right: 10px;

}

/* Dropdown Button */
/* .noti_icon {
    color: white;
    border: none;
    cursor: pointer;

    width:25px;
    height: 25px;
  } */
  
  /* Dropdown button on hover & focus */
  
  
  /* The container <div> - needed to position the dropdown content */
  .bell {
    position: relative;
    display: inline-block;
  }
  
  /* Dropdown Content (Hidden by Default) */
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  /* Links inside the dropdown */
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  /* Change color of dropdown links on hover */
  .dropdown-content a:hover {background-color: #ddd}
  
  /* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
  .show {display:block;}

  #results{


    left: 26%;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    margin: 0 auto;
}


path{

    fill: white;
    background-color: white;
  transition: fill 1.2s ease;
}

path:hover {


    fill: #76CE82;

}

.search_results{

margin-top: 10px;
margin-bottom: 10px;

}

ul{

    list-style-type: none;
  
}

.traffic-nav-link{

margin-right: 10px;

}

.nav-button{
display: flex;
justify-content: center;
align-items: center;
width: 70px;
height: 35px;
border-radius: 40px;
color: white;
background: yellowgreen;

}

/* .nav-button:active {

color: white;
background: yellowgreen;

} */

.main-header{

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

}

h2{


    font-size: 0.9em ;
    padding-left: 10px;
    padding-top: 10px;
}

.tab-text{

background: white;
width: 20%;
margin-right: 30px;

}
.tab-box{

    display:flex;
    width: 100%;
    text-align: center;

}

.tab-background{

    background: lightgrey;
    width: 80%;
    height: 35px ;

}

.profile-image{

width: 25%;
height: auto;
border-radius: 50%;
margin-left: 10px; 
  /* border: 3px solid white; */


}

.timezone-section{


    margin: 10px;

}

nav{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background-color: rgb(50, 8, 90);
    padding-left: 50px;
    padding-right:50px;
    padding-top: 10px;
    padding-bottom: 10px;

}

.grid-container{


    display:grid;
    grid-template-columns: 100%;
grid-template-rows: auto;
grid-template-areas:
"header"
"navigation"
"main";


}

.header{

    grid-area: header;

}

.navigation {
    grid-area: navigation;
    }
    .main {

        display: grid;
    grid-area: main;

        
    }

    .widget-container-full {
        width: 95vw;
        padding: 5px;
        margin-top: 35px;
        border-bottom: 1px solid grey ;
        }

        .widget-container-half {
            width: 95vw;
            padding: 5px;
            margin-top: 35px;
            border-bottom: 1px solid grey ;
            }
        

    #traffic-nav{

        display: flex;
       justify-content: space-evenly;
       margin: 10px;
        
    }

    .social-image{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 70px;
        height: 70px ;
        margin-right: 15px;
        background-color: purple;
        border-radius: 100%;
        overflow: visible;
        margin-left: 20px;

    }

    .social-container svg{

        width: 37px;
        


}

.social-box{

    display: flex;
    flex-direction: row ;
    background-color: lightgrey;
    border: 1px solid grey;
    width: 18.8em;
    height: 100px;
    align-items: center;
    justify-content: flex-start;
    border-radius: 5px;

}

     .social-container{

            display: flex;
            border-bottom: 1px solid grey;
            /* padding: 20px; */
            padding-top: 20px;
            padding-bottom: 20px;
            align-items: center;
            justify-content: center;
            

    }

    .social-title{

        color: blue;
        font-size: 17px;
        
    }

    .social-stat{

            font-size: 40px;

    }

   

    .recent-activity{
        
        /* padding-left: 20px;
        padding-right: 20px; */
        border-top: 1px solid;
    }

    .members-container{

        text-align: center;
        margin-top: 12px;
        margin-bottom: 12px;
        border-bottom: 1px solid grey;
        padding: 16px;

    }

    .alert-banner{
            display: flex;
            color: white;
            background-color: purple;
            max-width: 94%;
            justify-content: space-between;
            margin: 0 auto;
            margin-top: 5px;
            margin-bottom: 5px;
            padding: 10px;
        border-radius: 4px;


    }

    .toggle-container{
        display: flex;
        justify-content:space-between;
        align-items: center;
        margin:10px;
        margin-bottom: 20px;
    }

    label{

       width: 30%;

    }

    .settings{

            margin-top: 20px;
            margin-bottom: 40px;
            padding: 5px;
            /* max-width: calc(); */
        /* padding-left: auto; */
        border-top: 1px solid grey;

    }

    .last{

        border-bottom: none;

    }

    .message{
       
        
        display: flex;
        flex-direction: column;
        border-top: 1px solid grey;
       
    

    }

    .widget-container{


        text-align: center;
        margin: 10px;


    }

    .form-field, .form-area, .button-primary{

        width: 100%;
        margin: 0 auto;
        margin-top: 10px;
        
        
    }

    .form-field{

        height: 35px ;

    }

    .form-area{

        height: 100px ;

    }

    .button-primary, .button-primary-save, .button-disabled{

        height: 35px ;

    }

    .settings-button{

            display: flex;
            justify-content: space-evenly;

    }

    .button-primary-save, .button-disabled{

        /* width: calc(45% - ); */
        width: 50%;

    }


    .button-disabled{

        /* width: calc(45% - ); */
        margin-left: 20px;

    }


    #timezone{
        margin-bottom: 12px;


        display: flex;

    }


                                     /*!!!!!!!!!!!!!!!!!!!!!!!!!!! MEDIA QUERY!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!! */


    @media (min-width: 768px) {

        h3{

            margin-top: 20px;
            margin-left: 20px;
            
            }

        .arrow{

            display: block;
        
        }

        .header-image{

            width:4%;

        }

        .header-flex{

            width: 100%;
            display: flex;
            justify-content: flex-end;
            align-items: center;
        
        }
        

    .grid-container {


    grid-template-columns: 120px 1fr;
    grid-template-areas:
    "header header"
    "navigation main";
    }

    .navigation{

        display: flex;
        flex-direction: column;
       justify-content: flex-start;

    }

    .navi{

      margin-bottom: 20px;
       margin-top: 20px;

    }

    .main {
            
        grid-template-columns: 50% ;
    }


    .traffic,  .main-header, .alert, .message, .members, .recent-activity, .social, .small-graphs-tablet, .settings{
        grid-column: 1 / span 2;
        }

        .bar{
            grid-column: 1 / span 1;
            }
            
            .doughnut, .mobile, .activity{
                grid-column: 2 / span 1;
                }

                .widget-container-full {
                    width: 88vw;
                    }
                    .widget-container-half {
                    width: 43vw;
                    }

                   
        .traffic{

            margin: 0 auto;

            
        }
        .traffic-header{

            display: flex;
            justify-content: space-between;

        }

        #traffic-nav{

            display: flex;
            justify-content: space-around;

        }



        .social{

            display: flex;
            padding-top: 20px;
            padding-bottom: 20px;
            border-bottom: 1px solid grey;
            justify-content: center;
        }

        .social-container{

            border-bottom: none;

        }

        .members{
          
 /* put a bottom border on this */
        }
        .members-container{

            display: flex;
            align-items: center; 
            text-align: left;
            
        }

        .members-text{
            display: flex;
            justify-content: space-between;
            width: 100%;
        }

        .profile-image{


                margin-right: 14px;

        }
        

        .small-graphs-tablet{

            border-top:1px solid grey ;
            border-bottom: 1px solid grey;
            width: 100%;
            display: flex;
            justify-content: center;

            

        }

        .widget-container-half, .widget-container-full{


            border-bottom: none;
        }
        
        .bar{

            border-right: 1px solid grey;
            padding: 20px;
        }

        .doughnut{

            padding: 20px;
        }

        .settings{

            display: flex;
            flex-direction: column;
            
            


        }
        
        .toggle-container{

            align-self: flex-start;
            width: 50%;
            margin: 20px;
        
        }



        .profile-image{

            width: 10%

        }


        .widget-container{

            margin-left: 20px;
        margin-right: 20px;
    
    
        }

        .timezone-section{


            margin-left: 20px;
            margin-right: 20px;

        }

        .widget-container-full{


           width:116vw; 

        }

        .widget-container-half{


            width:55vw; 
 
         }

        .graph-headers{

            margin-left: 0px;

        }


        .social-box{

           
            width: 17em;
          
        
        }
        
             .social-container{
        
                    padding: 20px;
                    padding-top: 0px;
                    padding-bottom: 10px;
                   
                    
        
            }


    }



                                     /*!!!!!!!!!!!!!!!!!!!!!!!!!!! MEDIA QUERY!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!! */

    @media (min-width: 1024px) {


        .members, .message{
            grid-column: 1 / span 1;
            }

        

            .settings, .recent-activity{
                grid-column: 2 / span 1;
                }


        .message, .settings{

                justify-content: flex-start;

        }



        .recent-activity{

            border-left: 1px solid grey;
            border-top: none;

        }
        
        .settings{

            margin-top: 0px;
            margin-bottom: 20px;
            padding: 0px;
            /* max-width: calc(); */
        /* padding-left: auto; */
        border-top: 1px solid grey;
        border-left: 1px solid grey;

    }

    .message{
       
        
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        padding: 0px;
        border-bottom: none;
        border-top: 1px solid grey;
        margin-bottom: 20px;
    

    }

    .form-area{

                height:120px;

    }

    .toggle-container{
        display: flex;
        justify-content:space-between;
        align-items: center;
        margin-bottom: 0px;
        padding: 12px;
        padding-left: 0px;
        margin-left: 20px;
    }

    .social-box{

            width: 25em;
            height: 130px;

    }

    .social-image{

       width: 100px;
       height: 100px;

    }

    .social-container svg{

        width: 48.1px;
        


}

.social{

    padding-top: 0;
}

.social-container{
        
    
    padding-top: 20px;
    

}


    }
        